*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #094282, #6d00ff 70%, #6d00ff 70%);
    color: #fff;
    padding: 10px 8%;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    /* background-color: aqua; */
}

nav img{
    width: 200px;
}
nav ul{
    flex: 1;
    text-align: center;
}

nav ul  li{
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

.text-box{
    margin-top: 20%;
    max-width: 600px;
}

.text-box h1{
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text-box p{
    font-size: 1rem;
    line-height: 28px;
    
}

.text-box button{
    font-size: 15px;
    padding:    20px 40px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    margin-top: 30px;
    margin-right: 10px;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
}

.text-box button:last-child{
    background: #5957cf;
    color: #fff;
}

.feature-img{
    width: 400px;
    position: absolute;
    top: 18%;
    right: 15%;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    z-index: 2;
}
